.name{
    text-align: left;
    font-weight: bold;
    color: rgb(164, 0, 219);
}

.age{
    margin-top: -1.2rem;
    margin-right: 2rem;
    text-align: right;
    font-weight: bold;
    color: rgb(164, 0, 219);
}