form{
    display: flex;
    flex-direction: column;
}

.heading{
    margin: 1rem;
    color: rgb(164, 0, 219);
}

.form-label{
    color: rgb(164, 0, 219);
    font-weight: bold;
    padding: 1rem;
}

.form-input-name{
    border-radius: 0.2rem;
    border: 2px solid rgb(164, 0, 219);
    margin-left: 1rem;
    max-width: 20rem;
    background-color: rgba(63, 198, 198, 0.032);
    padding: 0.3rem;
}

.form-input-age{
    border-radius: 0.2rem;
    border: 2px solid rgb(164, 0, 219);
    margin-left: 1rem;
    max-width: 20rem;
    background-color: rgba(63, 198, 198, 0.032);
    padding: 0.3rem;
}

.form-input-button{
    border-radius: 0.3rem;
    margin-top: 2rem;
    padding: 0.2rem;
    border: 1px solid rgb(242, 0, 255);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.32);
    margin-left: 1rem;
    max-width: 10rem;
    background-color:  rgb(164, 0, 219);
    padding: 0.5rem;
    font-size: large;
    font-weight: bold;
    color:rgb(255, 255, 255);
    margin-bottom: 1rem;
}

.form-input-button:hover{
    background-color: rgb(255, 0, 234);
    color: white;
}
